/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import require_tree
 @import require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";



.navbar {
  margin-bottom: 0px;
}


.navbar-inverse {
  background-color: #fff;
  border-color: #ffffff;
}
.login-form label {
  display: -webkit-box;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
 .row.content {height: 1500px}

 /* Set gray background color and 100% height */
 .sidenav {
   background-color: #f1f1f1;
   height: 100%;
 }
 /* Set black background color, white text and some padding */
 footer {
   background-color: #555;
   color: white;
   padding: 15px;
 }

 /* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
   .sidenav {
     height: auto;
     padding: 15px;
   }
   .row.content {height: auto;}
 }

 /* --- CONTENT --- */

 .content {
     margin: 0 auto;
     background: #fff;
     width: 80%;
     display: flex;
     justify-content: space-between;
     border-left: 1px solid #ccc;
     border-right: 1px solid #ccc;
 }

 .content-sidebar {
     float: left;
     width: 30%;
     padding: 20px;
 }



 .content-main {
   float: right;
   width: 60%;
   padding: 20px 20px 20px 19px;
   border-left: 1px solid #ccc;
 }

 .content-header {
   font-size: 36px;
   text-align: right;
 }

 /* --- SIDEBAR --- */

 .profile-picture {
   display: block;
   border: 1px solid #000;
   position: relative;
 }

 .online {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   font-weight: bold;
   color: #fff;
   background: #0c0;
   padding: 5px 10px;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 3px;
 }

 .profile-info {
   margin: 20px 0;
 }

 .profile-info > h2 {
   font-weight: bold;
   font-size: 24px;
 }

 .profile-info > p {
   margin: 20px 0 0 0;
 }

 .profile-nav {

 }

 .profile-nav > li {
   border-bottom: 1px solid #ccc;
 }

 .profile-nav > li:first-child {
   border-top: 1px solid #ccc;
 }

 .profile-nav a {
   display: block;
   padding: 5px;
   font-weight: bold;
 }
 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 body {
   box-sizing: content-box;
   font-family: sans-serif;
   font-size: 16px;
   line-height: 1.1666666666;
   background: #eee;
   color: #000;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }
 .futon_show {
   width:50%;
   height:auto;
 }

.login {
    margin:5px;
}
.join{
  margin:6px;
}


.img-nav {
  width:45px;
  height:45px;
  display: inline;
  border-radius: 50%;
  margin:6px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.futon-index-item {
  width: 500px;
  display: flex;
  float: right;
  height: 200px;
  border: 1px solid #ccc;
  justify-content: space-between;
  background: white;
}
.index-item-info {
  padding: 30px 20px;
  float: right;
  background: white;
}
.index-item-category {
  display: flex;
  float:left;
}
 span img {
   display: table-cell;
   /* padding-right: 10px; */
   vertical-align: top;
   width: 200px;
   height: 200px;
 }

.user-index-item-info {
  width:300px;
  height: 300px;
}

.map {
  width: 500px;
  height: 500px;
  float: right;;
  position: relative;
}
user-index-item {
  width: 500px;
display: flex;
float: right;
height: 200px;
border: 1px solid #ccc;
justify-content: space-between;
background: white;
}

.container-fluid {
  display: flex;
  align-items: center;
  margin-top: 50px;
}


//profile
.profile-show-image img {
  width: 30%;
  height: auto;
  float: left;
  padding: 20px;
  margin: 10px;
}

.grid-item-header {
    color: white;
    background-color: transparent;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0) 100%);
    padding: 10px;
}

.mod-tight {
  margin-bottom: 0;
}

//nav

.container {
    width: 100%;
    box-shadow: 5px 3px 15px;
}


//public profile

.banner{
  width:100%;
  height:500px;
  object-fit:cover;
}

.banner img {
  width:100%;
  height: 100%;
}
.profile-show-image{
  display: block;
 border: 1px solid #000;
 position: relative;
}

.bookings-container {
  display: table;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.profile-section-main {
  border-bottom: 1px solid #ccc;
}


//google map css


#map {
        height: 100%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }










// .title-in-pic {
//   display: block;
//  position: absolute;
//  top: 0;
//  left: 0;
//  font-weight: bold;
//  color: #fff;
//  background: #0c0;
//  padding: 5px 10px;
//  font-size: 12px;
//  text-transform: uppercase;
//  letter-spacing: 3px;
// }
