/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import require_tree
 @import require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;

 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

.navbar {
  margin-bottom: 0px;
}


.navbar-inverse {
  background-color: #fff;
  border-color: #ffffff;
}
.login-form label {
  display: -webkit-box;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
 .row.content {height: 1500px}

 /* Set gray background color and 100% height */
 .sidenav {
   background-color: #f1f1f1;
   height: 100%;
 }
 /* Set black background color, white text and some padding */
 footer {
   background-color: #555;
   color: white;
   padding: 15px;
 }

 /* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
   .sidenav {
     height: auto;
     padding: 15px;
   }
   .row.content {height: auto;}
 }

 /* --- CONTENT --- */


.profile-background {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(http://res.cloudinary.com/dnuopy1ir/image/upload/v1475448536/6811043-street-wallpapers_hpgvpe.jpg);
      background-size: cover;
}

 .content {
     margin: 0 auto;
     background: #fff;
     width: 80%;
     display: flex;
     justify-content: space-between;
     border-left: 1px solid #ccc;
     border-right: 1px solid #ccc;
 }

 .content-sidebar {
     float: left;
     width: 30%;
     padding: 20px;
 }



 .content-main {
   float: right;
   width: 60%;
   padding: 20px 20px 20px 19px;
   border-left: 1px solid #ccc;
 }

 .content-header {
   font-size: 36px;
   text-align: right;
 }

 /* --- SIDEBAR --- */

 .profile-picture {
   display: block;
   border: 1px solid #000;
   position: relative;
 }

 .online {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   font-weight: bold;
   color: #fff;
   background: #0c0;
   padding: 5px 10px;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 3px;
 }

 .profile-info {
   margin: 20px 0;
 }

 .profile-info > h2 {
   font-weight: bold;
   font-size: 24px;
 }

 .profile-info > p {
   margin: 20px 0 0 0;
 }

 .profile-nav {

 }

 .profile-nav > li {
   border-bottom: 1px solid #ccc;
 }

 .profile-nav > li:first-child {
   border-top: 1px solid #ccc;
 }

 .profile-nav a {
   display: block;
   padding: 5px;
   font-weight: bold;
 }
 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 body {
   box-sizing: content-box;
   font-family: sans-serif;
   font-size: 16px;
   line-height: 1.1666666666;
   background: #eee;
   color: #000;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }
 .futon_show {
   height:auto;
 }

.login {
    margin:5px;
}
.join{
  margin:6px;
}


.img-nav {
  width:45px;
  height:45px;
  display: inline;
  border-radius: 50%;
  margin:6px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.futon-list-container{
    top: 70px;
    left: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 306px;
    background: white;

}
.futon-info h4{
  font-size: 14px;
  line-height: 17px;
}

.futon-index-item {
  box-sizing: border-box;
  display: inline;
  margin: 0 auto;
  height: 250px;
  padding: 20px 5px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.index-item-info {
  box-sizing: border-box;
  display: inline;
  margin: 0 auto;
  height: 250px;
  padding: 20px 5px;
}
.index {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2%;
  width: 100%;
  height: 100%;

}
.index-item-category {
  max-width: 300px;
  max-height: 200px;
  border: 1px solid lightgrey;
  display: block;
}
 span img {
   display: table-cell;
   /* padding-right: 10px; */
   vertical-align: top;
   width: 200px;
   height: 200px;
 }

.user-index-item-info {
  width:300px;
  height: 300px;
}

// .map {
//   width: 500px;
//   height: 500px;
//   float: right;;
//   position: relative;
// }
user-index-item {
width: 500px;
display: flex;
float: right;
height: 200px;
border: 1px solid #ccc;
justify-content: space-between;
background: white;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style: none;
}


//profile
.profile-show-image img {
  width: 30%;
  height: auto;
  float: left;
  padding: 20px;
  margin: 10px;
}

.grid-item-header {
    color: white;
    background-color: transparent;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0) 100%);
    padding: 10px;
}

.mod-tight {
  margin-bottom: 0;
}
//futon_items
.futon-img{
  height: auto;
  width: 50%;
  padding: 10px;
  float: right;
  /* margin-bottom: 206px; */
  position: inherit;
}

.futon-image-container{
  max-width: 300px;
max-height: 200px;
border: 1px solid lightgrey;
display: block;
}

.futon-info{
  position: relative;
  text-align: center;
  margin: 5px auto;
}

.index-item-image{
  width: 300px;
  height: 200px;
  border: 1px solid lightgrey;
  display: block
}

.index-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.index-item-copy futon-image {
    width: 300px;
    height: 200px;
    border: 1px solid lightgrey;
    display: block
}

.index-item-copy futon-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

//nav

.container {
    width: 100%;
    box-shadow: 5px 3px 15px;
}
#nav-search{
  margin-left:7px;
}
#nav-search-profile{
  margin-left:7px;
}
.nav-search-profile{
  display: inline-table;
color: gray;
}
.nav-search {
  color:gray;
  padding: 10px;
  margin-top: 6px;
  margin-right: 10px;
}
.nav-search-profile{
  margin:20px;

}
.search-text {
  color:#eee;
}

//public profile

.banner{
  width:100%;
  height:500px;
  object-fit:cover;
}

.banner img {
  width:100%;
  height: 100%;
}
.profile-show-image{
  display: block;
 border: 1px solid #000;
 position: relative;
}

.bookings-container {
  display: table;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.profile-section-main {
  border-bottom: 1px solid #ccc;
}

.booking{
  width:200px;
  height: 250px;
  box-shadow: 5px 3px 15px;
  list-style: none;
  float:left;
  margin: 10px;
}

.futonHost-img {
  width: 200px;
  height: 135px;
  border-bottom: 1px solid black;

}

.image-nav-booking{
  width:45px;
  height:45px;
  border-radius: 50%;
  border: 2px solid white;
  display: block;
  position: absolute;
  top: 110px;
  left: 75px;

}
.fontSize{
  font-size: 12px;
  margin-left: 40px;

}
.futonHost-img-show {
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;

}

.image-nav-booking-show{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 106px;
  left: 200px;
}




.booking-button{
  margin-left:65px;
}
//google map css


// #map {
//         height: 100%;
//       }
//       .controls {
//         margin-top: 10px;
//         border: 1px solid transparent;
//         border-radius: 2px 0 0 2px;
//         box-sizing: border-box;
//         -moz-box-sizing: border-box;
//         height: 32px;
//         outline: none;
//         box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
//       }
//
//       #pac-input {
//         background-color: #fff;
//         font-family: Roboto;
//         font-size: 15px;
//         font-weight: 300;
//         margin-left: 12px;
//         padding: 0 11px 0 13px;
//         text-overflow: ellipsis;
//         width: 300px;
//       }
//
//       #pac-input:focus {
//         border-color: #4d90fe;
//       }
//
//       .pac-container {
//         font-family: Roboto;
//       }
//
//       #type-selector {
//         color: #fff;
//         background-color: #4d90fe;
//         padding: 5px 11px 0px 11px;
//       }
//
//       #type-selector label {
//         font-family: Roboto;
//         font-size: 13px;
//         font-weight: 300;
//       }
//       #target {
//         width: 345px;
//       }


//Splash@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);



.Splash {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(http://res.cloudinary.com/dnuopy1ir/image/upload/v1472775241/have-fun-with-FutonSurfing-4be6460989531efdc476a47756fc0d12_clqp2i.jpg);
  background-size: cover;
  height: 75vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
h2 {
  font-size: 2rem;
}
p {
  margin: 0;
  font-size: 1.3rem;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

.featured-cities{
  display: flex;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  float: left;
  align-items: baseline;;
  justify-content: center;
  margin: 40px 40px;
  // border-radius: 2%;
  cursor: pointer;
}

.featured-cities-header h2 {
  font-weight: 400;
  color: white;
  width: 290px;
  background: rgba(4,99,128,0.3);
  padding: 5px;
  font-size: 24px;
  letter-spacing: 3px;
}


.rootCities{
  margin: 0 auto;
  display: block;
  width: 1140px;
}



//login-form
.modal {
    // display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


//bin/

.btn-signup{
  color: #fff;
  background-color: #468966;
  border-color: #468966;
}
.btn-login {
  color: #fff;
  background-color: #FFB03B;
  border-color: #FFB03B;
}
.btn-guest {
  color: #fff;
  background-color: #8E2800;
  border-color: #8E2800;
}
.btn-futons {
  color: #fff;
  background-color: #FFF0A5;
  border-color: #FFF0A5;
}

.navbar-right{
  display: inline-flex;
}

.map {
  top: 60px;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 70%;
  z-index: 10;
}
.bookings-info h4 {
  font-size: 12px;
}
.futonHost{
  position: relative;
}
.li-futon-show{
  margin-left: 50px;
  margin-top: 25px;
  margin-right: 10px;
  margin: 10px;
}
.padding{
  padding:10px;
}
// .title-in-pic {
//   display: block;
//  position: absolute;
//  top: 0;
//  left: 0;
//  font-weight: bold;
//  color: #fff;
//  background: #0c0;
//  padding: 5px 10px;
//  font-size: 12px;
//  text-transform: uppercase;
//  letter-spacing: 3px;
// }
